<form [formGroup]="registerForm" class="formulario">
  <caption class="titulo">Editar Carta</caption>
  <input type="number" formControlName="id" placeholder="id" class="input">
  <input type="text" formControlName="name" placeholder="nombre" class="input">
  <input type="url" formControlName="image" placeholder="imagen (URL)" class="input">
  <input type="text" formControlName="quote" placeholder="cita" class="input">

  <button (click)="putCard()" class="btn btn-primary boton">Editar Carta</button>
</form>
